@import 'style/normalize.css';
/**
 * DEFINE SOME VARIABLES FOR REUSE
 */
:root {
    --primary-color: #04a37a;
    --main-bg-color: #f5f5f5;
}
/**
 * GLOBAL STYLES
 */
#app {
    color: var(--primary-color);
    background-color: var(--main-bg-color);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-top: 60px;
    text-align: center;
}
/**
 * LOADING SPINNER
 */
svg {
  animation: 2s linear infinite svg-animation;
  max-width: 100px;
}
@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}
circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: #2f3d4c;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}
@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  
  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  
  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}