/**
 * DEFINE SOME VARIABLES FOR REUSE
 */
:root {
  --font-family: montserrat, helvetica, arial, sans-serif;
}
/**
 * APP STYLES
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
/**
 * BASE MATERIAL DESIGN OVERRIDES
 */
.mdl-layout__content {
  align-items: center;
  justify-content: center;
}
.mdl-layout__content > .mdl-grid {
  max-width: 1200px;
}
.mdl-card > .mdl-card__supporting-text {
  width: 100%;
}


.social {
  text-align: center;
}

.social ul {
  list-style-type: none;
}

.social li {
  padding-bottom: 2rem;
}

/**
* SOCIAL NETWORK ICONS
*/
.fa {
  padding: 20px;
  border-radius: 50%;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
.fa-facebook {
  background: #3b5998;
}

.fa-twitter {
  background: #55acee;
}

/**
 * REMOTE CONTENT AREA
 */
#remote-content img {
  max-width: 100%;
  max-height: 100%;
}

#remote-content svg {
  animation: 2s linear infinite svg-animation;
  max-width: 100px;
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

#remote-content circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: #2f3d4c;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}
